form.zero_margin.text-center action="/actors/#{mailbox_address}/links/#{linked_mailbox_address}" method="POST"
  button.btn.btn-mini.btn-success type="submit" title="Link"
    i.icon-magnet.icon-white
