form.zero_margin.text-center action="/actors/#{mailbox_address}" method="POST"
  input type="hidden" name="_method" value="delete"
  button.btn.btn-mini.btn-danger type="submit" value="Terminate" title="Terminate"
    i.icon-trash.icon-white
