form.zero_margin.text-center action="/actors/#{@actor.mailbox.address}/tasks/#{object_id}" method="POST"
  input type="hidden" name="_method" value="delete"
  button.btn.btn-mini.btn-danger type="submit" value="Terminate" title="Terminate"
    i.icon-remove.icon-white
