form.zero_margin.text-center action="/actors/#{mailbox_address}/links/#{linked_mailbox_address}" method="POST"
  input type="hidden" name="_method" value="delete"
  button.btn.btn-mini.btn-danger type="submit" title="Unlink"
    i.icon-remove.icon-white
